<div class="image-container">
  <div class="image-item">
    <a href="#" class="image-link" routerLink="/public-services/list" routerLinkActive="active-link">
      <img src="../assets/dashboard/public_service.png" alt="public service">
      <div class="image-text">Servicios públicos</div>
    </a>
  </div>
  <div class="image-item">
    <a href="#" class="image-link" routerLink="/alarms" routerLinkActive="active-link">
      <img src="../assets/dashboard/alarms.png" alt="alarms">
      <div class="image-text">Alarmas</div>
    </a>
  </div>
  <div class="image-item">
    <a href="#" class="image-link" routerLink="/home" routerLinkActive="active-link">
      <img src="../assets/dashboard/users.png" alt="users">
      <div class="image-text">Usuarios</div>
    </a>
  </div>
</div>
